@{
    ViewData["Title"] = "Home Page";
}

<style>
    p {
        color: ghostwhite
    }
</style>
<div class="text-center">
    <h1 class="display-4">Pet Pickup Challenge Solution</h1>
    <p>This is my solution to the challenge presented in the 2021 Hawaii Annual Code Challenge (HACC)! This application was designed to be used by Hawaii's Animal Quarantine Center to notify pet owners when their pets are ready to be picked up and taken home!</p>
    <img src="~/images/HACC-with-Flag-final-1.png" alt="HACC Photo" width="1000" />
    <p>image source: https://hacc.hawaii.gov/ </p>
</div>
